In [1]:
import pandas as pd #mengimport library pandas

df = pd.read_csv('Titanic-Dataset-selected.csv') #sebagai path tempat data diletakkan
df.head() #untuk menampilkan data teratas

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

# Langkah 2

In [2]:
from sklearn.model_selection import train_test_split #untuk mengimport library train_test_split dari sklearn.model_selection
#train_test_split digunakan untuk membagi dataset menjadi subset pelatihan dan subset pengujian untuk melatih dan menguji model machine learning


df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=0) #digunakan untuk split data training dan data lainnya
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0) #digunakan untuk split data lagi antara data validasi(df_val) dan testing(df_test)

#menampilkan ukuran data
print(f'Jumlah data asli: {df.shape[0]}')
print(f'Jumlah data train: {df_train.shape[0]}')
print(f'Jumlah data val: {df_val.shape[0]}')
print(f'Jumlah data test: {df_test.shape[0]}')

#mengecek rasio tiap tabel
print('=========')
print(f'Jumlah label data asli:\n{df.Survived.value_counts()}')
print(f'Jumlah label data train:\n{df_train.Survived.value_counts()}')
print(f'Jumlah label data val:\n{df_val.Survived.value_counts()}')
print(f'Jumlah label data test:\n{df_test.Survived.value_counts()}')

Jumlah data asli: 891
Jumlah data train: 712
Jumlah data val: 89
Jumlah data test: 90
=========
Jumlah label data asli:
0    549
1    342
Name: Survived, dtype: int64
Jumlah label data train:
0    439
1    273
Name: Survived, dtype: int64
Jumlah label data val:
0    53
1    36
Name: Survived, dtype: int64
Jumlah label data test:
0    57
1    33
Name: Survived, dtype: int64

# Stratified Split

## Langkah 1

In [3]:
df2 = pd.read_csv('Titanic-Dataset-selected.csv') #sebagai path tempat data diletakkan
df2.head() #digunakan untuk menampilkan data

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

## Langkah 2

In [5]:
df2_train, df2_unseen = train_test_split(df2, test_size=0.2, random_state=0, stratify= df['Survived']) #digunakan untuk split data training dan data lainnya menggunakan metode Stratified Split

df2_val, df2_test = train_test_split(df2_unseen, test_size=0.5, random_state=0, stratify=df_unseen['Survived']) #digunakan untuk split data lagi antara data validasi(df2_val) dan testing(df2_test) menggunakan Stratified Split

# untuk menampilkan masing masing ukuran data
print(f'Jumlah label data asli:\n{df2.Survived.value_counts()}')
print(f'Jumlah label data train:\n{df2_train.Survived.value_counts()}')
print(f'Jumlah label data val:\n{df2_val.Survived.value_counts()}')
print(f'Jumlah label data test:\n{df2_test.Survived.value_counts()}')

Jumlah label data asli:
0    549
1    342
Name: Survived, dtype: int64
Jumlah label data train:
0    439
1    273
Name: Survived, dtype: int64
Jumlah label data val:
0    51
1    38
Name: Survived, dtype: int64
Jumlah label data test:
0    59
1    31
Name: Survived, dtype: int64

# Cross Validation 1

## Langkah 1

In [6]:
df3 = pd.read_csv('Titanic-Dataset-selected.csv') #untuk membaca file csv
df3.head() #untuk menampilkan data

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

## Langkah 2

In [ ]:
from sklearn.model_selection import KFold #digunakan untuk import library KFold

kf = KFold(n_splits = 4) #instansiasi objek kfold

print(f'Jumlah fold: {kf.get_n_splits()}')
print(f'Obyek KFold: {kf}')

# melakukan splitting dengan KFold
kf_split = kf.split(df3)
print(f'Jumlah data df: {df.shape[0]}')

# cek index data tiap fold
for train_index, test_index in kf_split: #melakukan perulangan
    print(f'Index train: {train_index} | Index test: {test_index}')